{{#if isTagPickerOpen}}
  {{tag-picker
      target=".js-timer-form-tag-picker-target"
      tags=tags
      selectedTags=entryTags
      addTag=(action "addTagToEntry")
      removeTag=(action "removeTagFromEntry")
      createNewTag=(action "addNewTagToEntry")
      close=(toggle-action "isTagPickerOpen" this)
  }}
{{/if}}

<div class="c-timer-form">
  <div class="c-timer-form__input-wrap">
    {{one-way-input
        class="c-timer-form__input"
        placeholder="What are you doing?"
        value=entryName
        update=(action (mut entryName))
        onenter=(perform submitFormTask)
    }}

    <button
      class="c-icon-btn c-icon-btn--x-light c-icon-btn--popover c-timer-form__input-addon js-timer-form-tag-picker-target"
      {{action (toggle-action "isTagPickerOpen" this)}}
    >
      <svg class="c-icon c-icon--20"><use xlink:href="#icon-tag-20"></use></svg>
    </button>
  </div>

  <button
    class="c-timer-form__button {{if isSubmitDisabled 'is-disabled'}}"
    onclick={{perform submitFormTask}}
  >
    Start
  </button>
</div>