{{#if isTagPickerActive}}
  {{#ember-wormhole to="modals"}}
    {{tag-picker
        popoverTarget=(concat ".js-tag-picker-target-" elementId)
        allTags=allTags
        selectedTags=entryTags
        selectTag=(action "addTagToEntry")
        deselectTag=(action "removeTagFromEntry")
        createTag=(action "createTag")
        onEscape=(pipe-action (action "toggleTagPicker") (action "focusNameInput"))
        onEmptyEnter=(pipe-action (action "toggleTagPicker") (action "focusNameInput"))
        close=(action "toggleTagPicker")
    }}
  {{/ember-wormhole}}
{{/if}}

<div class="c-timer-form__input-wrap">
  {{one-way-input
      class="c-timer-form__input js-entry-form-name-input"
      placeholder="What are you doing?"
      value=entryName
      update=(action (mut entryName))
      onenter=(perform submitFormTask)
      focusIn=(action "enableKeyboard")
      focusOut=(action "disableKeyboard")
  }}

  <button
    class="c-icon-btn c-icon-btn--x-light c-icon-btn--popover c-timer-form__input-addon js-tag-picker-target-{{elementId}}"
    onclick={{action "toggleTagPicker"}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-tag-20" /></svg>
  </button>
</div>

<button
  class="c-timer-form__button"
  onclick={{perform submitFormTask}}
>
  Start
</button>
