<div class="c-time-entry__left-side">
  <div class="c-time-entry__name">
    {{timeEntry.name}}
  </div>

  {{#each timeEntry.tags as |tag|}}
    <div class="c-time-entry__tag">
      {{tag.name}}
    </div>
  {{/each}}
</div>

<div class="c-time-entry__right-side">
  <div class="c-time-entry__time">
    {{timeEntry.startedEndedDisplay}}
  </div>

  <div class="c-time-entry__duration">
    {{timeEntry.durationDisplay}}
  </div>

  <button
    class="c-time-entry__button c-time-entry__button--start"
    title="Continue"
    onclick={{action restartEntry}}
  >
    <svg class="c-svg-icon"><use xlink:href="#icon-start"></use></svg>
  </button>
</div>
