{{#each sortedFilteredTags as |tag|}}
  <div
    class="c-tag-picker__list-item js-tag-picker-list-item"
    onclick={{action selectTag tag}}
  >
    {{svg-jar "#icon-tag-15" class="c-icon c-icon--15 c-tag-picker__list-icon"}}

    <div class="c-tag-picker__list-text">
      {{tag.name}}
    </div>
  </div>
{{else}}
  {{#if (or (not inputValue) (not canCreateTag))}}
    <div>No tags found</div>
  {{/if}}
{{/each}}

{{#if canCreateTag}}
  <div
    class="c-tag-picker__list-item js-tag-picker-list-item"
    onclick={{action createAndSelectTag}}
  >
    {{svg-jar "#icon-plus-13" class="c-icon c-icon--13 c-tag-picker__list-icon"}}

    <div class="c-tag-picker__list-text">
      Add {{inputValue}}...
    </div>
  </div>
{{/if}}
