{{#each sortedFilteredTags as |tag|}}
  <div
    class="c-tag-picker__list-item js-tag-picker-list-item"
    onclick={{action addTag tag}}
  >
    <svg class="c-icon c-icon--15 c-tag-picker__list-icon"><use xlink:href="#icon-tag-15"></use></svg>

    <div class="c-tag-picker__list-text">
      {{tag.name}}
    </div>
  </div>
{{else}}
  {{#if (or (not inputValue) (not canCreateTag))}}
    <div>No tags found</div>
  {{/if}}
{{/each}}

{{#if canCreateTag}}
  <div
    class="c-tag-picker__list-item js-tag-picker-list-item"
    onclick={{action createNewTag inputValue}}
  >
    <svg class="c-icon c-icon--13 c-tag-picker__list-icon"><use xlink:href="#icon-plus-13"></use></svg>

    <div class="c-tag-picker__list-text">
      Add {{inputValue}}...
    </div>
  </div>
{{/if}}
