{{#if isTagPickerActive}}
  {{#ember-wormhole to="modals"}}
    {{tag-picker
        popoverTarget=(concat ".js-tag-picker-target-" elementId)
        allTags=allTags
        selectedTags=entryTags
        selectTag=(action "addTagToEntry")
        deselectTag=(action "removeTagFromEntry")
        createTag=(action "createTag")
        onEscape=(pipe-action (action "toggleTagPicker") (action "focusNameInput"))
        onEmptyEnter=(pipe-action (action "toggleTagPicker") (action "focusNameInput"))
        close=(action "toggleTagPicker")
    }}
  {{/ember-wormhole}}
{{/if}}

<div class="c-entry__left-side">
  {{one-way-input
      class="c-entry-form__input u-mar-right-s js-entry-form-name-input"
      placeholder="What were you doing?"
      value=entryName
      update=(action (mut entryName))
      onenter=(perform submitFormTask)
      focusIn=(action "enableKeyboard")
      focusOut=(action "disableKeyboard")
  }}
</div>

<div class="c-entry__right-side">
  <button
    class="c-icon-btn c-icon-btn--light c-icon-btn--popover u-mar-right-s js-tag-picker-target-{{elementId}}"
    onclick={{action "toggleTagPicker"}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-tag-20" /></svg>
  </button>

  <button
    class="c-icon-btn c-icon-btn--light u-mar-right-s"
    onclick={{action destroyEntry}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-trash-20" /></svg>
  </button>

  <button
    class="c-btn c-btn--small c-btn--secondary u-mar-right-s"
    onclick={{action closeForm}}
  >
    Cancel
  </button>

  <button
    class="c-btn c-btn--small c-btn--primary"
    onclick={{perform submitFormTask}}
  >
    Save
  </button>
</div>
