{{#if isTagPickerOpen}}
  {{tag-picker
      target=".js-tag-popover-target"
      tags=allTags
      selectedTags=entryTags
      addTag=(action "addTag")
      removeTag=(action "removeTag")
      createNewTag=(action "createNewTag")
      close=(toggle-action "isTagPickerOpen" this)
  }}
{{/if}}

<div class="c-time-entry__left-side">
  {{one-way-input
      class="c-time-entry-form__input u-mar-right-s"
      placeholder="What were you doing?"
      value=name
      update=(action (mut name))
      onenter=(perform submitFormTask)
  }}
</div>

<div class="c-time-entry__right-side">
  <button
    class="c-icon-btn c-icon-btn--light c-icon-btn--popover u-mar-right-s js-tag-popover-target"
    id="target-element-id"
    {{action (toggle-action "isTagPickerOpen" this)}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-tag-20"></use></svg>
  </button>

  <button
    class="c-icon-btn c-icon-btn--light u-mar-right-s"
    onclick={{action deleteEntry}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-trash-20"></use></svg>
  </button>

  <button
    class="c-btn c-btn--small c-btn--secondary u-mar-right-s"
    onclick={{action closeForm}}
  >
    Cancel
  </button>

  <button
    class="c-btn c-btn--small c-btn--primary {{if isDisabled 'is-disabled'}}"
    onclick={{perform submitFormTask}}
  >
    Save
  </button>
</div>
