{{#if isTagPickerActive}}
  {{tag-picker
      target=(concat ".js-tag-picker-target-" elementId)
      tags=tags
      selectedTags=entryTags
      addTag=(action "addTagToEntry")
      removeTag=(action "removeTagFromEntry")
      createNewTag=(action "addNewTagToEntry")
      emptyEnter=(action "focusNameInput")
      close=(pipe-action (toggle "isTagPickerActive" this) (action "disableKeyboard"))
  }}
{{/if}}

<div class="c-time-entry__left-side">
  {{one-way-input
      class="c-time-entry-form__input u-mar-right-s js-entry-form-name-input"
      placeholder="What were you doing?"
      value=entryName
      update=(action (mut entryName))
      onenter=(perform submitFormTask)
      focusIn=(action "enableKeyboard")
      focusOut=(action "disableKeyboard")
  }}
</div>

<div class="c-time-entry__right-side">
  <button
    class="c-icon-btn c-icon-btn--light c-icon-btn--popover u-mar-right-s js-tag-picker-target-{{elementId}}"
    onclick={{pipe-action (toggle "isTagPickerActive" this) (action "enableKeyboard")}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-tag-20"></use></svg>
  </button>

  <button
    class="c-icon-btn c-icon-btn--light u-mar-right-s"
    onclick={{action deleteEntry}}
  >
    <svg class="c-icon c-icon--20"><use xlink:href="#icon-trash-20"></use></svg>
  </button>

  <button
    class="c-btn c-btn--small c-btn--secondary u-mar-right-s"
    onclick={{action closeForm}}
  >
    Cancel
  </button>

  <button
    class="c-btn c-btn--small c-btn--primary {{if isSubmitDisabled 'is-disabled'}}"
    onclick={{perform submitFormTask}}
  >
    Save
  </button>
</div>
