{{title timeEntry.name}}
{{title durationDisplay}}

<div class="c-entry__left-side">
  <div class="c-entry__name">
    {{timeEntry.name}}
  </div>

  {{#each timeEntry.sortedTags as |tag|}}
    <div class="c-entry__tag">
      {{tag.name}}
    </div>
  {{/each}}
</div>

<div class="c-entry__right-side">
  <div class="c-entry__time">
    {{timeEntry.startedEndedDisplay}}
  </div>

  <div class="c-entry__duration">
    {{durationDisplay}}
  </div>

  <button
    class="c-icon-btn"
    title="Stop timer"
    onclick={{action stopEntry}}
  >
    <svg class="c-icon c-icon--24"><use xlink:href="#icon-stop-24"></use></svg>
  </button>
</div>
