<div class="c-time-entry__left-side">
  <div class="c-time-entry__name">
    {{timeEntry.name}}
  </div>

  {{#each timeEntry.sortedTags as |tag|}}
    <div class="c-time-entry__tag">
      {{tag.name}}
    </div>
  {{/each}}
</div>

<div class="c-time-entry__right-side">
  <div class="c-time-entry__time">
    {{timeEntry.startedEndedDisplay}}
  </div>

  <div class="c-time-entry__duration">
    {{timeEntry.durationDisplay}}
  </div>

  <button
    class="c-icon-btn c-icon-btn--x-light"
    title="Continue"
    onclick={{action restartEntry}}
  >
    <svg class="c-icon c-icon--24"><use xlink:href="#icon-start-24"></use></svg>
  </button>
</div>
