{{title timeEntry.name}}
{{title durationDisplay}}

<div class="c-time-entry__left-side">
  <div class="c-time-entry__name">
    {{timeEntry.name}}
  </div>

  {{#each timeEntry.tags as |tag|}}
    <div class="c-time-entry__tag">
      {{tag.name}}
    </div>
  {{/each}}
</div>

<div class="c-time-entry__right-side">
  <button
    class="c-time-entry__stop-button"
    {{action stopTimer}}>
    stop
  </button>

  <div class="c-time-entry__duration">
    {{durationDisplay}}
  </div>
</div>
