<div class="o-wrap o-wrap--small">
  {{timer-form submit=(action "startNewTimer")}}

  {{#if currentTimer}}
    <div>
      {{currentTimer.name}}
      <button {{action (action this.attrs.stopTimeEntry currentTimer)}}>
        stop
      </button>
    </div>
  {{/if}}

  {{#each sortedStoppedTimeEntries as |timeEntry|}}
    <div>
      {{timeEntry.name}}
      {{timeEntry.startedAt}}
    </div>
  {{/each}}
</div>